.card {
  border-radius: 3px;
  width: 940px;
  max-width: 100%;
  display: flex;
  height: 480px;
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.28);
  cursor: pointer;
  margin: auto;
  transition: transform 0.24s cubic-bezier(0.18, 0.89, 0.4, 1.03),
    box-shadow 0.2s ease-in;
  text-decoration: none;
}

@media screen and (max-width: 880px) {
  .card {
    position: relative;
    overflow: hidden;
  }
}

@media screen and (max-width: 800px) {
  .card {
    height: 720px;
  }
}

@media screen and (max-width: 500px) {
  .card {
    height: 540px;
  }
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.28);
}

.card + .card {
  margin-top: 30px;
}

.info {
  margin-left: auto;
  width: 400px;
  color: white;
  padding-top: 60px;
  padding-right: 0;
  padding-bottom: 60px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}

@media screen and (max-width: 880px) {
  .info {
    padding: 40px 0 40px 40px;
    width: 400px;
    max-width: 100%;
    margin-left: 0;
    height: 600px;
  }
}

.title {
  font-style: normal;
  font-weight: 600;
  line-height: 44px;
  font-size: 36px;
  margin: 0;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 32px;
  }
}

.date {
  margin: 0;
  font-size: 16px;
  opacity: 0.8;
}

.services {
  list-style: none;
  margin-top: 40px;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .services {
    margin-top: 15px;
  }
}

.services li {
  opacity: 0.8;
}

.services li + li {
  margin-top: 5px;
}

.tech {
  margin-top: auto;
  display: flex;
}

@media screen and (max-width: 800px) {
  .tech {
    margin-top: 15px;
    margin-left: -5px;
    transform: scale(0.8);
    transform-origin: left center;
  }
}

.techIcon {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images {
  display: flex;
  align-items: center;
  padding: 0;
  overflow: hidden;
  position: relative;
  flex: 1;
}

@media screen and (max-width: 800px) {
  .images {
    position: absolute;
    height: 800px;
    top: 272px;
    width: 143%;
    left: -26px;
  }
}

@media screen and (max-width: 500px) {
  .images {
    position: absolute;
    height: 420px;
    top: 220px;
    width: 143%;
    left: 0;
  }
}
