.hover_underline_animation {
  display: inline-block;
  position: relative;
}

.hover_underline_animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background: rgb(31, 41, 55);
  background: linear-gradient(
    90deg,
    rgba(31, 41, 55, 1) 4%,
    rgba(37, 99, 235, 1) 65%
  );
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover_underline_animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
