.img {
  transition: transform 0.24s cubic-bezier(0.18, 0.89, 0.4, 1.03),
    box-shadow 0.3s ease-in;
  margin-bottom: 35px;
  border-radius: 2%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.24);
}

.img:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.48);
}
