.img {
  transition: transform 0.24s cubic-bezier(0.18, 0.89, 0.4, 1.03),
    box-shadow 0.2s ease-in;
  cursor: pointer;
  margin-bottom: 24px;
  border-radius: 2%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.24);
}

.img:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.48);
}
